@{
  Layout = "_Layout";
}

@model PetesTreats.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor is not associated with any treats.</p>
}
else
{
  <h4>Treats associated with this flavor:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</li>
  }
  </ul> 
}

<p>@Html.ActionLink("Back to Flavor List", "Index")</p>
<p>@Html.ActionLink("Edit Flavor Profile", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor Profile", "Delete", new { id = Model.FlavorId })</p>