@{
  Layout = "_Layout";
}

@model PetesTreats.Models.Flavor

<h4>Edit this flavor profile: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to flavor profiles", "Index")</p>