@{
  Layout = "_Layout";
}

@model PetesTreats.Models.Treat

<h4>Associate a flavor profile with this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select a flavor profile to add.")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list of treats", "Index")</p>